*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .tudo{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #dbdbdb;
}
    */

body {
    font-family: Arial, sans-serif;
    background-color: #dbdbdb;
    color: #333;
    height: 100%;
    width: 100%;
}

header {
    background-color: #28a745;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border: solid 2px #000000;
    border-left: none;
    border-right: none;
    font-size: 21px;
}

.Logo img{
    width: 160px;
    height: 160px;
    float: left ;
}
.MenuBranco{
    width: 80px;
    height: 80px;
    margin:32px 0 ;
}

.Menu{
    height: 150px;
    width: 150px;
}
nav{
    float: right;
    color: #dbdbdb;
    text-decoration: none;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: #dbdbdb;

}

.Slogan {
    text-align: left;
    margin: 20px 0;
}

.TxtSlogan {
    font-size: 28px;
    color: #000000;
    margin-left: 80px;
}

.Container {
    display: flex;
    margin: 10px 15px 0 80px;
}

.Propostas, .Objetivos {
    background-color: #28a745;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: white;
    width: 560px;
    height:400px ;
    
}

.Objetivos{
    font-size: 18px;
    margin-left: 300px;
    background-color: #1c6b3d;
}
.Propostas{
    font-size: 18px;
}

.Propostas h2, .Objetivos h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.Propostas ul {
    list-style-type: disc;
    padding-left: 20px;
}

.Propostas ul li {
    margin-bottom: 10px;
}
.SegPag{
    width: 100%;
    height:900px ;
    background-color:#dbdbdb;
}
.LogoTxt{
    width: 300px;
    height: 300px;
    margin: 0 650px
}
.Lula, .Bolso{
    
    height: 190px;
    width: 290px;
}
.TxtImagem{
    display: flex;
}
.H1Lula, .H1Bolso{
    padding: 0;
    margin: 30px 0 0 0;
}
.H1Lula{
    margin-left: 100px;
}
.H1Bolso{
    margin-left: 500px;
}
.Bolso{
    margin-left: 500px;
   
}
.Lula{
    margin-left: 100px;
}
.Seg{
    margin-left: 100px;
}

